
html {
  height: 100vh;
  body {
    // background-color: #fff;
    background-color: #874C62;
    height: 100vh;
    margin: 0;
    position: relative;
    label {
      display: block;
    }

    .btn-primary {
      background-color: #874C62;
      border_color: #874C62;
    }

    .btn-primary:hover {
      background-color: rgba(148, 63, 97, 0.774);
      border-color: rgba(148, 63, 96, 0.774);
    }
  }
}
