
$darkGray: #3d3d3d;

html {
  //height: 100vh;
  body {
    // background-color: #fff;
    //background-color: $backgroundColor;
    height: 100vh;
    margin: 0;
    position: relative;
    border-radius: 0px;
    font-family: 'Optima, sans-serif';
    letter-spacing: 1px;
    color: $darkGray;
    font-size: 16px;

    label {
      display: block;
    }

    .navbar-default {
      background-color: #FFF;
      border-width: 0px;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .dark-gray-background{
      background-color: #d3d3d3;
    }
    .navbar-brand {
      //background-color: $backgroundColor;
      padding: 15px;
      vertical-align: middle;
      width: auto;
      float: none;
      //margin: 10px;
    }
    .btn {
      border-radius: 0px;
    }
    .form-control {
      border-radius: 0px;
    }

    .navbar-default .navbar-nav>li>a { // Login / ShoppingCart buttons
      color: $darkGray;
      font-size: 16px;
    }
    .navbar {
      color: #000;
      //background-color: $backgroundColor;
      border-radius: 0px;
      margin-bottom: 0px;
      border-width: 0px;
    }
    .btn-primary {
      background-color: #FFFFFF;
      border-width: 1px solid #ccc;
      border-color: #d3d3d3;
      color: $darkGray;
    }

    .categories {
      border-width: 0px;
      border-bottom: 2px solid $darkGray;
      font-size: 16px;
    }
    .nav>li>a {
      color: $darkGray;
    }
    .nav-link {
      //background-color: $backgroundColor;
    }
    .btn-primary:hover {
      background-color: rgba(148, 63, 97, 0.774);
      border-color: rgba(148, 63, 96, 0.774);
    }

    .footer {
      border-top: 2px solid $darkGray;
      padding: 10px;
    }

    .thumbnail {
      border-radius: 0px;
      //height: 420px;
    }

    .img-container {
      height: 200px;
    }
    .thumbnail .caption img { //thumbnail images
      vertical-align: middle;
      max-width: 100%;
      max-height: 100%;
    }
    .thumbnail .caption h4 a{
      color: $darkGray;
    }

    .jumbotron-billboard .img {
      margin-bottom: 0px;
      opacity: 0.2;
      background: #000 url("/images/living-room-chairs.jpg") center center;
      width: 100%;
      height: 100%;
      background-size: cover;
      overflow: hidden;

    position:absolute;
    top:0;left:0;
    z-index:1;
  }
  .jumbotron {
    position:relative;
    padding:50px;

  }
  .jumbotron .container {
    z-index:2;
    position:relative;
    z-index:2;
    border-radius: 0px;
  }

  .subheadings {
    border-top: 1px solid $darkGray;
    padding: 10px;
  }
  .subheadings p {
    padding-left: 10px;
  }

  .subheadings h2, #testimonies {
    text-align: center;
  }

  .subheading-container {
    padding-left: 5%;
    padding-right: 5%;
  }


  .center-text {
    text-align: center;
  }

  .form-group label {
    float: left;
  }
  .form-group input {
    float: right;
  }

  }
}
