
$darkGray: #3d3d3d;

html {
  //height: 100vh;
  body {
    // background-color: #fff;
    //background-color: $backgroundColor;
    height: 100vh;
    margin: 0;
    position: relative;
    border-radius: 0px;
    font-family: 'Optima, sans-serif';
    letter-spacing: 1px;
    color: $darkGray;

    label {
      display: block;
    }

    .navbar-default {
      background-color: #FFF;
      border-width: 0px;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .dark-gray-background{
      background-color: #d3d3d3;
    }
    .navbar-brand {
      //background-color: $backgroundColor;
      //padding: 15px;
      vertical-align: middle;
      width: auto;
      float: none;
      //margin: 10px;
    }
    .btn {
      border-radius: 0px;
    }
    .form-control {
      border-radius: 0px;
    }

    .navbar-default .navbar-nav>li>a { // Login / ShoppingCart buttons
      color: $darkGray;
      font-size: 16px;
    }
    .navbar {
      color: #000;
      //background-color: $backgroundColor;
      border-radius: 0px;
      margin-bottom: 0px;
      border-width: 0px;

    }
    .btn-primary {
      background-color: #FFFFFF;
    }

    .categories {
      border-width: 0px;
      border-bottom: 2px solid $darkGray;
      font-size: 16px;
    }
    .nav>li>a {
      color: $darkGray;
    }
    .nav-link {
      //background-color: $backgroundColor;
    }
    .btn-primary:hover {
      background-color: rgba(148, 63, 97, 0.774);
      border-color: rgba(148, 63, 96, 0.774);
    }

    .footer {
      border-top: 2px solid $darkGray;
    }
  }
}
